body {
  background-color: #24252a;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}
.btn {
  display: flex;
  width: 100%;
  justify-content: center;
}
.effect {
  background-color: rgb(255, 177, 31);
}
.effect:hover {
  background-color: rgb(1, 211, 1);
  transform: scale(1.05, 1.05);
  transition: all 0.3s;
}
